In [1]:
#import kagglehub
import yaml
import clickhouse_connect
import pandas as pd
import os

## Load Variables from Docker-Compose YAML

In [2]:
with open("docker-compose.yml", 'r') as ymlfile:
    cfg = yaml.safe_load(ymlfile)

ch_user = cfg['services']['clickhouse']['environment']['CLICKHOUSE_USER']
ch_password = cfg['services']['clickhouse']['environment']['CLICKHOUSE_PASSWORD']

In [3]:
client = clickhouse_connect.get_client(host='localhost', username=ch_user, password=ch_password)

In [4]:
client.command("CREATE DATABASE IF NOT EXISTS datasets")

## World Energy consumption

Although the dataset starts in 1900, much of the data we are interested in was not collected until decades later. For certain data we want to show about Spain, we will use data from 1980 onwards.

In [ ]:
# df = pd.read_csv("datasets/world_energy_consumption.csv")

In [ ]:
# df = df[df["year"] > 1980]

In [ ]:
# df['year'] = pd.to_datetime(df['year'], format='%Y')

In [5]:
folder = "sql/"
for sql_file in os.listdir(folder):
    print(f"Executing {sql_file}...")
    with open(folder + sql_file) as f:
        string_file = f.read()
    client.command(string_file)

Executing iso.sql...
Executing world_energy_consumption.sql...

In [6]:
# Recreate the DataFrame from scratch
df = pd.read_csv("datasets/world_energy_consumption.csv")
df = df[df["year"] > 1980]
df['year'] = pd.to_datetime(df['year'], format='%Y')

# Verify DataFrame structure
print("Columns:", df.columns.tolist())
print("Shape:", df.shape)

Columns: ['country', 'year', 'iso_code', 'population', 'gdp', 'biofuel_cons_change_pct', 'biofuel_cons_change_twh', 'biofuel_cons_per_capita', 'biofuel_consumption', 'biofuel_elec_per_capita', 'biofuel_electricity', 'biofuel_share_elec', 'biofuel_share_energy', 'carbon_intensity_elec', 'coal_cons_change_pct', 'coal_cons_change_twh', 'coal_cons_per_capita', 'coal_consumption', 'coal_elec_per_capita', 'coal_electricity', 'coal_prod_change_pct', 'coal_prod_change_twh', 'coal_prod_per_capita', 'coal_production', 'coal_share_elec', 'coal_share_energy', 'electricity_demand', 'electricity_generation', 'electricity_share_energy', 'energy_cons_change_pct', 'energy_cons_change_twh', 'energy_per_capita', 'energy_per_gdp', 'fossil_cons_change_pct', 'fossil_cons_change_twh', 'fossil_elec_per_capita', 'fossil_electricity', 'fossil_energy_per_capita', 'fossil_fuel_consumption', 'fossil_share_elec', 'fossil_share_energy', 'gas_cons_change_pct', 'gas_cons_change_twh', 'gas_consumption', 'gas_elec_per_capita', 'gas_electricity', 'gas_energy_per_capita', 'gas_prod_change_pct', 'gas_prod_change_twh', 'gas_prod_per_capita', 'gas_production', 'gas_share_elec', 'gas_share_energy', 'greenhouse_gas_emissions', 'hydro_cons_change_pct', 'hydro_cons_change_twh', 'hydro_consumption', 'hydro_elec_per_capita', 'hydro_electricity', 'hydro_energy_per_capita', 'hydro_share_elec', 'hydro_share_energy', 'low_carbon_cons_change_pct', 'low_carbon_cons_change_twh', 'low_carbon_consumption', 'low_carbon_elec_per_capita', 'low_carbon_electricity', 'low_carbon_energy_per_capita', 'low_carbon_share_elec', 'low_carbon_share_energy', 'net_elec_imports', 'net_elec_imports_share_demand', 'nuclear_cons_change_pct', 'nuclear_cons_change_twh', 'nuclear_consumption', 'nuclear_elec_per_capita', 'nuclear_electricity', 'nuclear_energy_per_capita', 'nuclear_share_elec', 'nuclear_share_energy', 'oil_cons_change_pct', 'oil_cons_change_twh', 'oil_consumption', 'oil_elec_per_capita', 'oil_electricity', 'oil_energy_per_capita', 'oil_prod_change_pct', 'oil_prod_change_twh', 'oil_prod_per_capita', 'oil_production', 'oil_share_elec', 'oil_share_energy', 'other_renewable_consumption', 'other_renewable_electricity', 'other_renewable_exc_biofuel_electricity', 'other_renewables_cons_change_pct', 'other_renewables_cons_change_twh', 'other_renewables_elec_per_capita', 'other_renewables_elec_per_capita_exc_biofuel', 'other_renewables_energy_per_capita', 'other_renewables_share_elec', 'other_renewables_share_elec_exc_biofuel', 'other_renewables_share_energy', 'per_capita_electricity', 'primary_energy_consumption', 'renewables_cons_change_pct', 'renewables_cons_change_twh', 'renewables_consumption', 'renewables_elec_per_capita', 'renewables_electricity', 'renewables_energy_per_capita', 'renewables_share_elec', 'renewables_share_energy', 'solar_cons_change_pct', 'solar_cons_change_twh', 'solar_consumption', 'solar_elec_per_capita', 'solar_electricity', 'solar_energy_per_capita', 'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct', 'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita', 'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec', 'wind_share_energy']
Shape: (11946, 129)

In [7]:
df['population'] = df['population'].astype('UInt64')
df['iso_code'] = df['iso_code'].astype('str')
df['country'] = df['country'].astype('str')

In [ ]:
# for col in df.columns:
#     print(f"{col}: {df[col].dtype}")

country: object
year: datetime64[ns]
iso_code: object
population: UInt64
gdp: float64
biofuel_cons_change_pct: float64
biofuel_cons_change_twh: float64
biofuel_cons_per_capita: float64
biofuel_consumption: float64
biofuel_elec_per_capita: float64
biofuel_electricity: float64
biofuel_share_elec: float64
biofuel_share_energy: float64
carbon_intensity_elec: float64
coal_cons_change_pct: float64
coal_cons_change_twh: float64
coal_cons_per_capita: float64
coal_consumption: float64
coal_elec_per_capita: float64
coal_electricity: float64
coal_prod_change_pct: float64
coal_prod_change_twh: float64
coal_prod_per_capita: float64
coal_production: float64
coal_share_elec: float64
coal_share_energy: float64
electricity_demand: float64
electricity_generation: float64
electricity_share_energy: float64
energy_cons_change_pct: float64
energy_cons_change_twh: float64
energy_per_capita: float64
energy_per_gdp: float64
fossil_cons_change_pct: float64
fossil_cons_change_twh: float64
fossil_elec_per_capita: float64
fossil_electricity: float64
fossil_energy_per_capita: float64
fossil_fuel_consumption: float64
fossil_share_elec: float64
fossil_share_energy: float64
gas_cons_change_pct: float64
gas_cons_change_twh: float64
gas_consumption: float64
gas_elec_per_capita: float64
gas_electricity: float64
gas_energy_per_capita: float64
gas_prod_change_pct: float64
gas_prod_change_twh: float64
gas_prod_per_capita: float64
gas_production: float64
gas_share_elec: float64
gas_share_energy: float64
greenhouse_gas_emissions: float64
hydro_cons_change_pct: float64
hydro_cons_change_twh: float64
hydro_consumption: float64
hydro_elec_per_capita: float64
hydro_electricity: float64
hydro_energy_per_capita: float64
hydro_share_elec: float64
hydro_share_energy: float64
low_carbon_cons_change_pct: float64
low_carbon_cons_change_twh: float64
low_carbon_consumption: float64
low_carbon_elec_per_capita: float64
low_carbon_electricity: float64
low_carbon_energy_per_capita: float64
low_carbon_share_elec: float64
low_carbon_share_energy: float64
net_elec_imports: float64
net_elec_imports_share_demand: float64
nuclear_cons_change_pct: float64
nuclear_cons_change_twh: float64
nuclear_consumption: float64
nuclear_elec_per_capita: float64
nuclear_electricity: float64
nuclear_energy_per_capita: float64
nuclear_share_elec: float64
nuclear_share_energy: float64
oil_cons_change_pct: float64
oil_cons_change_twh: float64
oil_consumption: float64
oil_elec_per_capita: float64
oil_electricity: float64
oil_energy_per_capita: float64
oil_prod_change_pct: float64
oil_prod_change_twh: float64
oil_prod_per_capita: float64
oil_production: float64
oil_share_elec: float64
oil_share_energy: float64
other_renewable_consumption: float64
other_renewable_electricity: float64
other_renewable_exc_biofuel_electricity: float64
other_renewables_cons_change_pct: float64
other_renewables_cons_change_twh: float64
other_renewables_elec_per_capita: float64
other_renewables_elec_per_capita_exc_biofuel: float64
other_renewables_energy_per_capita: float64
other_renewables_share_elec: float64
other_renewables_share_elec_exc_biofuel: float64
other_renewables_share_energy: float64
per_capita_electricity: float64
primary_energy_consumption: float64
renewables_cons_change_pct: float64
renewables_cons_change_twh: float64
renewables_consumption: float64
renewables_elec_per_capita: float64
renewables_electricity: float64
renewables_energy_per_capita: float64
renewables_share_elec: float64
renewables_share_energy: float64
solar_cons_change_pct: float64
solar_cons_change_twh: float64
solar_consumption: float64
solar_elec_per_capita: float64
solar_electricity: float64
solar_energy_per_capita: float64
solar_share_elec: float64
solar_share_energy: float64
wind_cons_change_pct: float64
wind_cons_change_twh: float64
wind_consumption: float64
wind_elec_per_capita: float64
wind_electricity: float64
wind_energy_per_capita: float64
wind_share_elec: float64
wind_share_energy: float64

In [8]:
client.insert_df('datasets.world_energy_consumption', df)

DatabaseError: Received ClickHouse exception, code: 1001, server response: std::exception. Code: 1001, type: std::__1::filesystem::filesystem_error, e.what() = filesystem error: in rename: Permission denied ["/var/lib/clickhouse/store/af8/af873437-3883-4bb4-b6f2-dd13322b0246/tmp_insert_all_1_1_0/"] ["/var/lib/clickhouse/store/af8/af873437-3883-4bb4-b6f2-dd13322b0246/all_1_1_0/"]
Cannot print extra info for Poco::Exception (version 25.8.10.7 (official build)) (for url http://localhost:8123)

Insertar equivalente country codes

In [26]:
df_iso = pd.read_csv("datasets/ISO-3166-Countries-with-Regional-Codes.csv", na_filter=None)

In [27]:
df_iso = df_iso[["name", "alpha-2", "alpha-3"]]

In [28]:
df_iso.columns = ["name", "iso_2", "iso_3"]

In [29]:
df_iso

                  name iso_2 iso_3
0          Afghanistan    AF   AFG
1        Åland Islands    AX   ALA
2              Albania    AL   ALB
3              Algeria    DZ   DZA
4       American Samoa    AS   ASM
..                 ...   ...   ...
244  Wallis and Futuna    WF   WLF
245     Western Sahara    EH   ESH
246              Yemen    YE   YEM
247             Zambia    ZM   ZMB
248           Zimbabwe    ZW   ZWE

[249 rows x 3 columns]

In [30]:
df_iso.dtypes

name     object
iso_2    object
iso_3    object
dtype: object

In [31]:
df_iso

                  name iso_2 iso_3
0          Afghanistan    AF   AFG
1        Åland Islands    AX   ALA
2              Albania    AL   ALB
3              Algeria    DZ   DZA
4       American Samoa    AS   ASM
..                 ...   ...   ...
244  Wallis and Futuna    WF   WLF
245     Western Sahara    EH   ESH
246              Yemen    YE   YEM
247             Zambia    ZM   ZMB
248           Zimbabwe    ZW   ZWE

[249 rows x 3 columns]

In [32]:
client.insert_df("datasets.iso_country", df_iso)

In [47]:
print("Type of df:", type(df))
print("Type of df.columns:", type(df.columns))
print("df.columns:", df.columns)
print("Length of df.columns:", len(df.columns))
print("DataFrame shape:", df.shape)
print("DataFrame info:")
df.info()

Type of df: <class 'pandas.core.frame.DataFrame'>
Type of df.columns: <class 'pandas.core.indexes.base.Index'>
df.columns: Index(['country', 'year', 'iso_code', 'population', 'gdp',
       'biofuel_cons_change_pct', 'biofuel_cons_change_twh',
       'biofuel_cons_per_capita', 'biofuel_consumption',
       'biofuel_elec_per_capita',
       ...
       'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct',
       'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita',
       'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec',
       'wind_share_energy'],
      dtype='object', length=129)
Length of df.columns: 129
DataFrame shape: (11946, 129)
DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 11946 entries, 0 to 22011
Columns: 129 entries, country to wind_share_energy
dtypes: datetime64[ns](1), float64(126), object(2)
memory usage: 11.8+ MB